body {
    width: 100%;
    height: 100%;
}



.bordure-top {
    border-top: 3px solid #7ad160;
    padding: 20px 0;
}

.bordure-nav {
    border-bottom: 3px solid #7ad160;
}

.navbar-custom {
    background: none;
    margin-bottom: 0;
}

.bloc {
    margin-top: 30px;
}

    .bloc .titre {
        border: 1px solid #e1e1e1;
        border-left: 5px solid #7ad160;
        padding: 10px;
    }

    .bloc h2 {
        margin: 0;
        font-size: 1.4em;
    }

.sous-bloc {
    border: 1px solid #e1e1e1;
    border-top: none;
    padding: 10px;
}

.sous-bloc-image {
    border: 1px solid #e1e1e1;
    border-top: none;
    padding-top: 10px;
}

.sous-bloc-image-description {
    padding: 10px;
}

#content a {
    color: #7ad160;
}

.evenement {
    text-align: center;
}

    .evenement strong {
        font-weight: 400;
    }

.ads {
    margin-top: 30px;
}

.bg-titre {
    border-bottom: 3px solid #7ad160;
    background-color: #404040;
    color: red;
    font-size: 1.5em;
}

    .bg-titre h1 {
        margin: 30px 0;
    }

.breadcrumb {
    background-color: white;
}

    .breadcrumb > li:first-child a {
        color: green;
    }

.membre {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    .membre:hover .membre-hover {
        top: 25%;
         transition: 1s;
    }

.membre-hover {
    top: 0;
    left: 0;
    position: absolute;
    top: 85%;
     transition: 1s;
}

.nom div {
    background-color: #7ad160;
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 10px;
}

.fonction div {
    background-color: rgba(0,0,0,0.6);
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 5px;
}

.membre .description {
    border-top: 3px solid #7ad160;
    background-color: rgba(0,0,0,0.6);
    margin-top: 10px;
    color: white;
    padding: 10px;
    height: 1000px;
}





/* Extra Small */
@media(max-width:767px) {
    .membre:hover .membre-hover {
        top: 25%;
    }

    .membre-hover {
        top: 0;
        left: 0;
        top: 25%;
        position: absolute;
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {
}
/* Extra Small et Small */
@media(max-width:991px) {
}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {
}

/* Large */
@media(min-width:1200px) {
}

.panel-header {
    padding: 0;
}

.panel-heading a {
    display: block;
    padding: 16px 10px;
}

#overlay {
    width: 100%;
    height: 100%;
    background: url('../images/giphy.gif');
    opacity: 0.5;
    position: fixed;
    z-index: 1;
    display: none;
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

#googlemap{
    width:100%;
}
